<a href="https://colab.research.google.com/github/ishikashendge/ML/blob/main/Internship.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
upload =files.upload()

Saving Masterclass - The Basics Of Excel (Responses).xlsx to Masterclass - The Basics Of Excel (Responses).xlsx

In [ ]:
import pandas as pd
df1 = pd.read_excel('Masterclass - The Basics Of Excel (Responses).xlsx')
df1

                  Timestamp  ... Unnamed: 6
0   2020-09-28 00:10:58.066  ...        1.0
1   2020-09-28 07:17:13.080  ...       35.0
2   2020-09-28 09:12:18.512  ...        1.0
3   2020-09-28 09:41:07.900  ...       17.0
4   2020-09-28 10:59:00.443  ...       52.0
..                      ...  ...        ...
652 2020-10-18 14:21:12.718  ...        NaN
653 2020-10-18 14:22:58.630  ...        NaN
654 2020-10-18 14:39:38.173  ...        NaN
655 2020-10-18 17:06:09.080  ...        NaN
656 2020-10-03 17:27:48.144  ...        NaN

[657 rows x 7 columns]

In [ ]:
from google.colab import files
upload =files.upload()

Saving Masterclass - The Basics Of Stock Market (Responses).xlsx to Masterclass - The Basics Of Stock Market (Responses).xlsx

In [ ]:
import pandas as pd
df2 = pd.read_excel('Masterclass - The Basics Of Stock Market (Responses).xlsx')
df2

                  Timestamp  ...        City
0   2020-09-23 08:27:43.284  ...     Kolkata
1   2020-09-23 11:26:53.198  ...        Pune
2   2020-09-23 11:56:18.116  ...        Pune
3   2020-09-23 13:18:26.278  ...   Nizamabad
4   2020-09-24 01:32:45.836  ...   Bangalore
..                      ...  ...         ...
192 2020-10-04 10:33:58.450  ...  Hyderabad
193 2020-10-04 10:36:42.983  ...     Kolkata
194 2020-10-04 11:32:49.902  ...        Gaya
195 2020-10-04 11:53:58.854  ...    Dehradun
196 2020-10-04 12:12:32.177  ...        Pune

[197 rows x 6 columns]

In [ ]:
from google.colab import files
upload =files.upload()

Saving Masterclass - Content Writing (Responses).xlsx to Masterclass - Content Writing (Responses).xlsx

In [ ]:
import pandas as pd
df3 = pd.read_excel('Masterclass - Content Writing (Responses).xlsx')
df3

                  Timestamp  ...                                  City
0   2020-08-27 10:54:59.404  ...  Kundapur, Udupi District,  Karnataka
1   2020-08-29 11:28:28.231  ...                                Mumbai
2   2020-08-29 18:09:15.579  ...                              Guwahati
3   2020-08-29 19:28:26.298  ...                                  Agra
4   2020-08-29 21:36:16.072  ...                               Udaipur
..                      ...  ...                                   ...
418 2020-09-20 14:14:15.675  ...                                  pune
419 2020-09-20 14:18:03.969  ...                                  Pune
420 2020-09-20 14:21:56.416  ...                                Nagpur
421 2020-09-20 14:31:00.198  ...                                Meerut
422 2020-09-20 14:32:29.976  ...                                   hyd

[423 rows x 6 columns]

In [ ]:
df1=df1.drop(['Email address','First Name','Last Name','WhatsApp Number'],axis=1)
df2=df2.drop(['Email address','First Name','Last Name','WhatsApp Number'],axis=1)
df3=df3.drop(['Email address','First Name','Last Name','WhatsApp Number'],axis=1)

In [ ]:
df1['Topic']= 'Basics of excel'
df2['Topic']= 'Basics of stock market'
df3['Topic']= 'Content writing'

In [ ]:
df1['Month']= df1['Timestamp'].dt.month
df2['Month']= df2['Timestamp'].dt.month
df3['Month']= df3['Timestamp'].dt.month

In [ ]:
df1=df1.drop(['Timestamp'],axis=1)
df1

KeyError: ignored

                    City            Topic  Month
0              Moradabad  Basics of excel      9
1                  Delhi  Basics of excel      9
2                  ELURU  Basics of excel      9
3              Bangalore  Basics of excel      9
4                   Pune  Basics of excel      9
..                   ...              ...    ...
652  Sunset Ave, Windsor  Basics of excel     10
653                 Pune  Basics of excel     10
654             Malaysia  Basics of excel     10
655             Lucknow   Basics of excel     10
656                 pune  Basics of excel     10

[657 rows x 3 columns]

In [ ]:
df2=df2.drop(['Timestamp'],axis=1)
df2

           City                   Topic  Month
0       Kolkata  Basics of stock market      9
1          Pune  Basics of stock market      9
2          Pune  Basics of stock market      9
3     Nizamabad  Basics of stock market      9
4     Bangalore  Basics of stock market      9
..          ...                     ...    ...
192  Hyderabad   Basics of stock market     10
193     Kolkata  Basics of stock market     10
194        Gaya  Basics of stock market     10
195    Dehradun  Basics of stock market     10
196        Pune  Basics of stock market     10

[197 rows x 3 columns]

In [ ]:
df3=df3.drop(['Timestamp'],axis=1)
df3

                                     City            Topic  Month
0    Kundapur, Udupi District,  Karnataka  Content writing      8
1                                  Mumbai  Content writing      8
2                                Guwahati  Content writing      8
3                                    Agra  Content writing      8
4                                 Udaipur  Content writing      8
..                                    ...              ...    ...
418                                  pune  Content writing      9
419                                  Pune  Content writing      9
420                                Nagpur  Content writing      9
421                                Meerut  Content writing      9
422                                   hyd  Content writing      9

[423 rows x 3 columns]

In [ ]:
df1['City']=df1['City'].str.upper()
df2['City']=df2['City'].str.upper()
df3['City']=df3['City'].str.upper()

In [ ]:
df1["City"]= df1["City"].str.replace("NEW DELHI", "DELHI")
df1['City'].value_counts().head(10)

DELHI        68
PUNE         61
MUMBAI       53
BANGALORE    19
KOLKATA      15
GUWAHATI     13
CHENNAI      13
HYDERABAD    10
RANCHI        8
NOIDA         7
Name: City, dtype: int64

In [ ]:
df2["City"]= df2["City"].str.replace("NEW DELHI", "DELHI")
df2['City'].value_counts().head(10)

PUNE             33
DELHI            22
BANGALORE        10
MUMBAI            9
VISAKHAPATNAM     6
CHENNAI           6
GUWAHATI          5
KOLKATA           4
AHMEDABAD         4
PUNE              4
Name: City, dtype: int64

In [ ]:
df3["City"]= df3["City"].str.replace("NEW DELHI", "DELHI")
df3['City'].value_counts().head(10)

PUNE             54
MUMBAI           47
DELHI            41
CHENNAI          12
GUWAHATI         11
BANGALORE        10
BHOPAL           10
HYDERABAD        10
DELHI             7
VISAKHAPATNAM     6
Name: City, dtype: int64

In [ ]:
frames= [df1, df2,df3]

df4 = pd.concat(frames)

In [ ]:
df4

          City            Topic  Month
0    MORADABAD  Basics of excel      9
1        DELHI  Basics of excel      9
2        ELURU  Basics of excel      9
3    BANGALORE  Basics of excel      9
4         PUNE  Basics of excel      9
..         ...              ...    ...
418       PUNE  Content writing      9
419       PUNE  Content writing      9
420     NAGPUR  Content writing      9
421     MEERUT  Content writing      9
422        HYD  Content writing      9

[1277 rows x 3 columns]

In [ ]:
df4['Topic'].value_counts()

Basics of excel           657
Content writing           423
Basics of stock market    197
Name: Topic, dtype: int64

In [ ]:
df4.describe()

             Month
count  1277.000000
mean      9.552075
std       0.544124
min       8.000000
25%       9.000000
50%      10.000000
75%      10.000000
max      10.000000

In [ ]:
df4['City'].value_counts().head(10)

PUNE         148
DELHI        131
MUMBAI       109
BANGALORE     39
CHENNAI       31
GUWAHATI      29
KOLKATA       23
HYDERABAD     23
BHOPAL        17
AHMEDABAD     14
Name: City, dtype: int64

In [ ]:
df4['Month'].value_counts().head(10)

10    736
9     510
8      31
Name: Month, dtype: int64

In [ ]:
from google.colab import files
df4.to_excel('masterclass.xlsx')
files.download('masterclass.xlsx')