In [ ]:
import pandas as pd
df1 = pd.read_excel('Women Entrepreneurs Meetup (Responses).xlsx')
df1

,Timestamp,Full Name,City,Brief about your start-up
0,2020-08-20 16:39:50.273,Mehak Nayyar,Bareilly,Make handmade products at home related to knit...
1,2020-08-20 18:08:17.990,Anshika Jain,Sagar,Craft based product design
2,2020-08-20 18:14:07.821,Bhairavee Pradhan-Nitave,Pune,I am a working professional.
3,2020-08-20 18:21:00.268,Monika,Chennai,Really new to this so no idea
4,2020-08-20 19:32:41.238,Stuti Prasad,MUMBAI,I am working with a road safety startup.
...,...,...,...,...
93,2020-10-02 10:55:11.504,Nancy Felix,Navi Mumbai,Eco friendly and reusable cups and plates
94,2020-10-02 17:28:00.851,Renuka Deshmukh,Mumbai,Rural Educationist
95,2020-10-02 20:28:38.458,Iba Basan,Shillong,I started with a small online btob app with th...
96,2020-10-03 12:59:57.427,Jayant tiwari,Pune,Coaching
97,2020-10-09 14:17:28.803,SAJJA SAI PRIYANKA,HYDERABAD,Artha Samarth is a social venture aimed to bui...

In [ ]:
df=df1.iloc[:,3]
df

In [ ]:
df=df.str.lower()

In [ ]:
from nltk.tokenize import word_tokenize
from collections import Counter
import string
df=df.to_string()

In [ ]:
import nltk
nltk.download('punkt')
import nltk  
nltk.download('stopwords')

In [ ]:
tokens=word_tokenize(df)
len(tokens)

In [ ]:
from nltk.probability import FreqDist
x=FreqDist()
for word in tokens:
  x[word.lower()]+=1
x

In [ ]:
words = [word for word in tokens if word.isalpha()]
words

In [ ]:
len(words)

In [ ]:
from nltk.corpus import stopwords
dt=stopwords.words('english')

In [ ]:
word = [w for w in words if not w in dt]
print(word)

In [ ]:
y=FreqDist()
for a in word:
  y[a.lower()]+=1
y.most_common(10)

In [ ]:
len(y)

In [ ]:
coun=['craft','want','digital marketing','content writing','handmade']
tokens.count('craft')

In [ ]:
df1['startup'] =pd.Series(y.keys())

In [ ]:
nltk.download('averaged_perceptron_tagger')
pos =[]
for token in word:
    pos = nltk.pos_tag([token])

In [ ]:
word

In [ ]:
pos = nltk.pos_tag(word)
pos

In [ ]:
nltk.download('maxent_ne_chunker')
nltk.download('words')
from nltk import ne_chunk

In [ ]:
chunk= ne_chunk(pos)
chunk.__repr__()

In [ ]:
grammer = ('''NP: {<NN.>?}''')
chunkParser = nltk.RegexpParser(grammer)

In [ ]:
result=chunkParser.parse(chunk)
result

In [ ]:
from collections import Counter

def count_words(tokens, selected_words):
    words_count = Counter()

In [ ]:
pos

In [ ]:
new_list = []
for i in pos:
        if i[1].startswith("NN" or 'NNS' or 'JJ' or 'VBG'):
            temp = i[0]
            new_list.append(temp)
new_list

In [ ]:
for i in pos:
    print(i[0])

In [ ]:
len(new_list)

In [ ]:
z=FreqDist()
for a in new_list:
  z[a.lower()]+=1
z.most_common(10)

In [ ]:
for i in new_list:
    i.replace('art','\bcraft\b')
new_list

In [ ]:
z

In [ ]:
df2 =pd.DataFrame(z.items(),columns=['startup','no. of women'])
df2

In [ ]:
df2.sort_values(by= 'no. of women' ,inplace = True,ascending=False)
df2

In [ ]:
df1['City']= df1['City'].str.lower()
df1

In [ ]:
df1= df1.drop(['startup','Full Name'],axis=1)

In [ ]:
df1['hour']= df1['Timestamp'].dt.hour

In [ ]:
df1

In [ ]:

df1= df1.drop(['Timestamp'],axis=1)

In [ ]:
ex= pd.ExcelWriter('Task3[2].xlsx')
df1.to_excel(ex,'Sheet1')
ex.save()

NameError: name 'pd' is not defined